@import url(https://fonts.googleapis.com/css?family=Lato|Titillium+Web:900);
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.titillium
	font-family: 'Titillium Web', sans-serif
	letter-spacing: 1px
.lato
	font-family: 'Lato', sans-serif
.back-blue_1
	background-color: $blue_1 !important
.back_blue_2
	background-color: $blue_2
.back_gray_1
	background-color: $gris_1
.back-dog
	background: $blue_1 url(/images/blue-terrier-dog-color.svg) no-repeat -90px center
	background-size: 350px
.m-t-40
	margin-top: 40px
.m-t-80
	margin-top: 80px
.m-b-40
	margin-bottom: 40px
.m-b-80
	margin-bottom: 80px
.m-t-60
	margin-top: 60px
.m-b-60
	margin-bottom: 60px
.p-t-40
	padding-top: 40px
.p-t-60
	padding-top: 60px
.p-b-20
	padding-bottom: 20px
.p-b-60
	padding-bottom: 60px
.m-t--80
	margin-top: -80px !important
h2.white
	font-size: 1.4em
	margin-top: 0
.white
	color: white !important
.yellow_1
	color: $yellow_1 !important
.blue_1
	color: $blue_1 !important
.blue_2
	color: $blue_2 !important
.blue_3
	color: $blue_3 !important
textarea
	resize: none
.submit
	background-color: $blue_1
	color: $blue_2
	border: none
	padding: 4px 12px
	font-size: 1.2em
@keyframes background-moves
  0% { background-position: left bottom }
  8% { background-position: right bottom }
  100% { background-position: right bottom }
@keyframes background-hand-moves
  0% { background-position: left bottom }
  40% { background-position: right bottom }
  100% { background-position: right bottom }
.animate-hand
	animation: background-hand-moves 2s steps(23) infinite
.animate-web
	animation: background-moves 4.5s steps(21) infinite
.animate-branding
	animation: background-moves 4s steps(17) infinite
.animate-mkt
	animation: background-moves 5s steps(13) infinite
body
	background-color: white
	padding-top: 50px
	font-family: 'Lato', sans-serif
.navbar-default
	background-color: $blue_1
	border: none
	.navbar-brand
		padding: 8px 15px
		img
			width: 50px
.container-fluid.back-dog
	position: fixed
	width: 100%
	top: 50px
.services-begins
	margin-top: 670px
	background: white
	position: relative
	z-index: 2
	padding-top: 30px
	padding-bottom: 70px
.services-container
	position: relative
	z-index: 2
.chamba
	position: relative
	z-index: 2
	background: white
.main-banner
	height: 580px
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	p
		text-align: center
		color: white
		margin-bottom: 0
		&.top
			font-size: 1.6em
			line-height: 1.2em
			margin-top: 30px
		&.topic
			font-size: 3em
			line-height: .5em
			opacity: 1
			transition: opacity .5s ease
			&.opacity_0
				opacity: 0
				transition: opacity .5s ease

	.help-button
		border: 1px solid $blue_2
		display: inline-flex
		padding: 4px 12px
		position: relative
		bottom: 20px
		a
			color: $blue_2
.hand
	background: transparent url(/images/sprite-touch-icon.png) no-repeat left bottom
	width: 60px
	height: 60px
	display: inline-flex
.block-title
	font-family: 'Titillium Web', sans-serif
	color: white
	text-align: center
.service-container
	overflow: hidden
.service-icon-container
	text-align: center
	.service-icon
		width: 250px
		height: 230px
		display: inline-block
		&.web
			background: transparent url(/images/sprite-web-icon.jpg) no-repeat left bottom
		&.branding
			background: transparent url(/images/sprite-branding-icon.jpg) no-repeat left bottom
		&.mkt
			background: transparent url(/images/sprite-mkt-icon.jpg) no-repeat left bottom	
.service-info-container
	text-align: center
.btn-line
	position: relative
	z-index: 3
	.submit
		display: inline
.service-container:first-of-type
	margin-top: 40px
.clients
	position: relative
	z-index: 2
	.col-xs-6
		display: flex
		align-items: center
		justify-content: center
		height: 100px
		a
			display: inline-flex
			padding: 0
		img
			width: 80%
			height: auto
			display: inline-flex
			&.la-cura
				width: 70px
/*PROJECT DETAIL*/
.project-detail
	figure
		padding: 0
		img
			width: 100%
footer
	background-color: $blue_2
	position: relative
	z-index: 2
.give-us-a-like
	font-family: 'Titillium Web', sans-serif
	font-size: 1.6em
.social
	padding: 0
	li
		display: inline-block
		margin: 0 5px
		a
			color: white
			font-size: 2.4em
			opacity: 1
			transition: opacity .5s ease
			&:hover
				text-decoration: none
				opacity: .7
				transition: opacity .5s ease
			&:focus
				text-decoration: none
			&:visited
				text-decoration: none
#contactForm
	position: relative
	overflow: hidden
.form-group.error
	.form-control
		border-color: red
		transition: border-color 1s ease
.text-danger
	text-align: center
	display: none
.form-control
	background-color: $blue_3
	color: $blue_2
	border-color: $blue_3
	border-radius: 0
.sent_mail_alert
	background-color: $blue_1
	position: absolute
	width: 93%
	display: none
	color: white
	top: 150px
	padding: 30px 20px
@media screen and (min-width: 425px)
	.back-dog
		background-position: -110px center
		background-size: 450px
@media screen and (min-width: 480px)
	.back-dog
		background-position: -130px center
		background-size: 500px
@media screen and (min-width: 768px)
	.navbar-default
		height: 70px
		.navbar-brand
			img
				width: 80px
	.back-dog
		background-position: -130px center
		background-size: 650px
	.main-banner
		height: 840px
		p
			&.top
				font-size: 1.8em
			&.topic
				font-size: 4em
		.help-button
			bottom: 70px
	.services-begins
		margin-top: 900px
	.branding-block
		float: right
	.service-container
		margin-bottom: 80px
		.service-info-container
			text-align: left
			.block-title
				text-align: left
	.clients
		padding-top: 40px
		padding-bottom: 40px
		.col-xs-6
			height: 200px
			a
				display: inline
				img
					width: 90%
					&.la-cura
						width: 80%
	.sent_mail_alert
		width: 94%
@media screen and (min-width: 992px)
	.main-banner
		display: block
		position: relative
		padding-left: 450px
		padding-top: 200px
		p
			text-align: center
			color: white
			margin-bottom: 0
			&.top
				font-size: 3em
			&.topic
				font-size: 6em
		.legend
			position: relative
		.help-button
			position: relative
			bottom: initial
			font-size: 1.6em
			margin-top: 60px
@media screen and (min-width: 1200px)
	.right-menu
		position: fixed
		height: 100%
		width: 20px
		right: 20px
		top: 25%
		z-index: 3
		ul
			padding: 0
			text-align: center
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			margin: 0
			height: 300px
			li
				display: block
				width: 14px
				height: 14px
				border-radius: 50%
				background: $gris_2
				position: relative
				transition: background 1s ease
				a
					color: transparent
					overflow: hidden
					display: block
					width: 100%
					height: 100%
					position: relative
					z-index: 3
					&:hover
						cursor: pointer
				&:hover:after
					position: absolute
					left: -100px
					bottom: -10px
					opacity: 1
					transition: left .2s ease, bottom .05s ease, opacity .4s ease
				&.active
					background: $yellow_1
					transition: background 1s ease
					&:before
						border: 1px solid $yellow_1
						transition: border 1.5s ease
					&:after
						color: $yellow_1
				&:before
					content: ''
					width: 26px
					height: 26px
					position: absolute
					border: 1px solid $gris_2
					border-radius: 50%
					right: -6px
					bottom: -6px
					transition: border 1.5s ease
				&:after
					left: 60px
					position: absolute
					bottom: -10px
					opacity: 0
					transition: left .1s ease, bottom .025s ease, opacity .1s ease
					font-size: 1.6em
				&.inicio:after
					content: 'Inicio'
				&.servicios:after
					content: 'Servicios'
				&.chamba:after
					content: 'Chamba'
				&.contacto:after
					content: 'Contacto'

	.main-banner
		padding-top: 250px
	.back-dog
		background-position: 0px center
		background-size: 600px
	.clients
		margin-top: -1px
	.sent_mail_alert
		width: 95%